
body{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-style: normal;
    background-color: #F1F1FF;
    box-sizing: border-box;
}

/*generelt*/
h1 {
    margin-top: 0;
    margin-bottom: -10px;
    padding-top: 40px;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
}
p {
    font-size: 25px;
    padding-top: 2px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

#banner {
    background: url(forside-ansigt.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text {
    text-align: center;
    color: #F1F1FF;

}
.banner-text h1{
    text-align: center;
    font-size: 150px;
    font-family: acumin-pro, sans-serif;
    padding-top: 220px;
    text-shadow: 1px 1px #913831;
}

.banner-text p{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 1px #913831;
    font-family: acumin-pro, sans-serif;
}

.banner-btn {
    text-align: center;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #F1F1FF;
    border: .7px solid #F1F1FF;
    text-transform: capitalize;
}
.banner-btn a:hover {
    font-weight: bold;
    color: #913831;
    border-color: #a3a2a0;
    background-color: white;
    transition: 0.5s;
}

button {
    text-align: center;
}

.button a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #F1F1FF;
    border: .7px solid #F1F1FF;
    text-transform: capitalize;
}

.button a:hover {
    font-weight: bold;
    color: #913831;
    border-color: #a3a2a0;
    background-color: white;
    transition: 0.5s;
}

/*menu ting*/
.dropbtn {
    background-color: black;
    color: #F1F1FF;
    padding: 25px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: #F1F1FF;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1F1FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /*season*/
#season{
    text-align: center;
    font-size: 40px;
}

.season{
    width: 100%;
    padding: 70px 0;
  }
.season-pic{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.season-pic img{
    width: 400px;
    height: 450px;
    object-fit: cover;
}
.titel-desc{
    padding: 5px;
    text-align: center;
    width: 375px;
    font-size: 35px;
}
.desc {
    padding: 5px;
    text-align: center;
    width: 375px;
    font-size: 20px;
  }

/*bestil*/
.faves{
    width: 100%;
    padding: 70px 0;
}

/*about*/
.discover{
    width: 100%;
    padding: 70px 0;
}


.newsletter {
    text-align: center;
    background-color: #00B1FF;

}

.newsbox {
    color: #00B1FF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  cursor: pointer;
}
