
body{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-style: normal;
    background-color: #F1F1FF;
    box-sizing: border-box;
}

/*generelt*/
h1 {
    margin-top: 80px;
    margin-bottom: -10px;
    padding-top: 40px;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
}
p {
    font-size: 25px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

#banner {
    background: url(forside-ansigt.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text {
    text-align: center;
    color: #F1F1FF;

}
.banner-text h1{
    text-align: center;
    font-size: 150px;
    font-family: acumin-pro, sans-serif;
    padding-top: 220px;
    text-shadow: 1px 1px #913831;
}

.banner-text p{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 1px #913831;
    font-family: acumin-pro, sans-serif;
}

.banner-btn {
    text-align: center;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #F1F1FF;
    border: .7px solid #F1F1FF;
    text-transform: capitalize;
}
.banner-btn a:hover {
    font-weight: bold;
    color: #913831;
    border-color: #a3a2a0;
    background-color: white;
    transition: 0.5s;
}

/*menu ting*/
.navbar ul{
    list-style: none;
    background: #F1F1FF;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: #111011;
    width: 200px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

}
.navbar a:hover{
    color: #913831;
    font-weight: bolder;
}
.navbar a:active{
    color: #00B1FF;

}

  /*season*/
#season{
    text-align: center;
    font-size: 40px;
}

.season{
    width: 100%;
    padding: 70px 0;
  }
.season-pic{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.season-pic img{
    width: 400px;
    height: 450px;
    object-fit: cover;
}
.titel-desc{
    padding: 5px;
    text-align: center;
    width: 375px;
    font-size: 35px;    
}
.desc {
    padding: 5px;
    text-align: center;
    width: 375px;
    font-size: 20px;
  }

/*bestil*/
.faves{
    width: 100%;
    padding: 70px 0;
}

/*about*/
.discover{
    width: 100%;
    padding: 70px 0;
}
